broker.id={{ hostBrokerId }}
port=9092
advertised.host.name={{ hostAdvertiseIp }}
num.network.threads=3
num.io.threads=8
offsets.topic.replication.factor={{ kafkaReplicationFactor }}
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.dirs={{ kafkaLogDir }}
num.partitions={{ kafkaPartitionCount }}
num.recovery.threads.per.data.dir=1
log.retention.hours={{ kafkaLogRetentionHours }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
zookeeper.connection.timeout.ms=6000
{% set id = 1 %}
zookeeper.connect={% for param in zooKeeperServers %}{{ param }}:2181,{% endfor %}
