#!/bin/bash
allPassed=1
for i in {% for param in clientServers %}{{ param }} {% endfor %}

do
count=0
while true
do
val=`curl -m {{ testTimeout }} $i:{{ testPort }} || true`
if [[ `echo $val | grep "test"` ]]
then
echo "test Passed $i"
break
fi
count=$(( $count + 1 ))
if [[ $count -gt 10 ]]
then
echo "test failed $i"
allPassed=0
break
fi
done
done
if [[ $allPassed -eq 1 ]]
then
echo "All tests Passed"
exit 0
fi
echo "Tests failed"
exit 1

