tickTime=2000
dataDir={{ zooKeeperStorageDir }}
clientPort=2181
initLimit=5
syncLimit=2
{% set id = 1 %}
{% for param in zooKeeperServers %} 
server.{{ id }}={{ param }}:2888:3888
{% set id = id + 1 %}
{% endfor %}
